
<%inherit file="bootstrap.html"/>
<%block name="title">- Recent</%block>
<%block name="query_block">
    <input type="text" name="query" class="search-query span2" placeholder="Search" value="${query}"/>
</%block>

	<h3>Recent Jobs</h3>

% if len(jobs) == 0:
	<h4>No Jobs found!</h4>
% elif page > len(jobs): 
	<h4>Bad job page index ${page}</h4>
% else:
	<% jobpage = jobs[page] %>

	<table class="table table-striped table-condensed" style="width: 100%; white-space: nowrap; table-layout: fixed;">
    <colgroup>
        <col width="20%" />
        <col width="15%" />
        <col width="10%" />
        <col width="55%" />
    </colgroup>

	<tr><th>Host + Doctype</th><th>Time</th><th>Stationary</th><th>Preview</th></tr>
	<% xstr = lambda s: s or '' %>
	% for j in jobpage:
	  <tr>
		<td>
		% if j['templ']:
		<a href="/pdf?name=${j['name']}">
		% else:
		<a href="/plaintext?name=${j['name']}">
		% endif
		${xstr(j['control'].get('H'))|h} ${j['doctype']|h}</a></td>
		<td>${str(j['ts'])[0:19]|h}</td>
		% if j['templ']:
		<td>${xstr(j['templ'])} (${len(j.get('parsed', {}).keys())})</td>
		% else:
			<td></td>
		% endif
		
		<td style="overflow: hidden; text-overflow: ellipsis">${j['summary']|h}</td>
	  </tr>
	% endfor
	</table>

% endif

	<ul class="pager">
	% if page < pages-1:
	  <li class="previous"> <a href="?query=${query}&templ=${templ}&doctype=${doctype}&page=${page+1}">&larr; Older</a> </li>
	% else:
	  <li class="previous disabled"> <span>&larr; Older</span> </li>
	% endif
	% if page > 0:
	  <li class="next"> <a href="?query=${query}&templ=${templ}&doctype=${doctype}&page=${page-1}">Newer &rarr;</a> </li>
	% else:
	  <li class="next disabled"> <span>Newer &rarr;</span> </li>
	% endif
	</ul>
	
